venv/
*.pth
*.pt
*.ckpt
*.DS_Store
*.aux
*.bbl
*.out
*.log
*.blg
*.pdf
*.gz
*.npy
*.pyc
PnP_restoration/experiments.sh
PnP_restoration/generate_fig.py
GS_denoising/logs/*
GS_denoising/ckpts/*
*.zip
**/__pycache__